.thirdSection {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    color: white;
    margin-top: 40px;
    direction: ltr;
}

.continent {
    width: 14%;
    background-color: #1e1e1e;
    border-top: 5px solid #00bf4a;
    text-align: center;
}

.thirdSection h1 {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.title_vaccination_regions {
    font-size: 24px Roboto, sans-serif;
    width: 80%;
    height: fit-content;
    margin-right: 5%;
    color: white;
}

.continent span {
    color: #bcbcbc
}

#all_vaccinated {
    color: #00bf4a;
}

#all_pop {
    color: red;
}

@media (min-width:320px) and (max-width:480px) {
    .thirdSection {
        display: flex;
        background-color: pink;
        justify-content: space-around;
        flex-flow: column wrap;
        width: 100%;
    }
    .continent {
        width: 99%;
    }
    .thirdSection h1 {
        font-size: 40px;
    }
    .thirdSection p {
        font-size: 30px;
    }
}

@media (min-width:481px) and (max-width:798px) {
    .thirdSection {
        display: flex;
        background-color: yellow;
        justify-content: space-around;
        flex-flow: column wrap;
        width: 100%;
        margin: 0 auto;
    }
    .continent {
        width: 90%;
    }
    .thirdSection h1 {
        font-size: 40px;
    }
    .thirdSection p {
        font-size: 30px;
    }
}

@media (min-width: 1025px) and (max-width:1200px) {
    .thirdSection {
        display: flex;
        background-color: red;
    }
    .continent {
        width: 40%;
        margin-bottom: 2%;
    }
}